<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="https://images.pexels.com/photos/1107666/pexels-photo-1107666.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="film"
                />
                <div class="carousel-item__details">
                    <div>
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-play.png"
                            alt="reproducir"
                        />
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-plus.png"
                            alt="agregar"
                        />
                    </div>
                    <p class="carousel-item__details--title">Titulo</p>
                    <p class="carousel-item__details--subtitle">
                        2019 16+ 114minutos
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="https://images.pexels.com/photos/2510430/pexels-photo-2510430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="film"
                />
                <div class="carousel-item__details">
                    <div>
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-play.png"
                            alt="reproducir"
                        />
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-plus.png"
                            alt="agregar"
                        />
                    </div>
                    <p class="carousel-item__details--title">Titulo</p>
                    <p class="carousel-item__details--subtitle">
                        2019 16+ 114minutos
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="https://images.pexels.com/photos/2510430/pexels-photo-2510430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="film"
                />
                <div class="carousel-item__details">
                    <div>
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-play.png"
                            alt="reproducir"
                        />
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-plus.png"
                            alt="agregar"
                        />
                    </div>
                    <p class="carousel-item__details--title">Titulo</p>
                    <p class="carousel-item__details--subtitle">
                        2019 16+ 114minutos
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="https://images.pexels.com/photos/2510430/pexels-photo-2510430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="film"
                />
                <div class="carousel-item__details">
                    <div>
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-play.png"
                            alt="reproducir"
                        />
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-plus.png"
                            alt="agregar"
                        />
                    </div>
                    <p class="carousel-item__details--title">Titulo</p>
                    <p class="carousel-item__details--subtitle">
                        2019 16+ 114minutos
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="https://images.pexels.com/photos/2510430/pexels-photo-2510430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="film"
                />
                <div class="carousel-item__details">
                    <div>
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-play.png"
                            alt="reproducir"
                        />
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-plus.png"
                            alt="agregar"
                        />
                    </div>
                    <p class="carousel-item__details--title">Titulo</p>
                    <p class="carousel-item__details--subtitle">
                        2019 16+ 114minutos
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="https://images.pexels.com/photos/2510430/pexels-photo-2510430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="film"
                />
                <div class="carousel-item__details">
                    <div>
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-play.png"
                            alt="reproducir"
                        />
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-plus.png"
                            alt="agregar"
                        />
                    </div>
                    <p class="carousel-item__details--title">Titulo</p>
                    <p class="carousel-item__details--subtitle">
                        2019 16+ 114minutos
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="https://images.pexels.com/photos/2510430/pexels-photo-2510430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="film"
                />
                <div class="carousel-item__details">
                    <div>
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-play.png"
                            alt="reproducir"
                        />
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-plus.png"
                            alt="agregar"
                        />
                    </div>
                    <p class="carousel-item__details--title">Titulo</p>
                    <p class="carousel-item__details--subtitle">
                        2019 16+ 114minutos
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="https://images.pexels.com/photos/2510430/pexels-photo-2510430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="film"
                />
                <div class="carousel-item__details">
                    <div>
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-play.png"
                            alt="reproducir"
                        />
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-plus.png"
                            alt="agregar"
                        />
                    </div>
                    <p class="carousel-item__details--title">Titulo</p>
                    <p class="carousel-item__details--subtitle">
                        2019 16+ 114minutos
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="https://images.pexels.com/photos/2510430/pexels-photo-2510430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="film"
                />
                <div class="carousel-item__details">
                    <div>
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-play.png"
                            alt="reproducir"
                        />
                        <img
                            class="carousel-item__details--icon"
                            src="images/icon-plus.png"
                            alt="agregar"
                        />
                    </div>
                    <p class="carousel-item__details--title">Titulo</p>
                    <p class="carousel-item__details--subtitle">
                        2019 16+ 114minutos
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>